@media (min-width: 677px) {
  .savings-container {
    width: 640px;
  }
  .savings-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .savings-inner > div {
    width: 48%;
  }
  .savings-inner > div:last-child {
    width: 100%;
  }
  .savings-container {
    display: inline-block;
  }
}

@media (min-width: 1050px) {
  .savings-container {
    float: right;
  }
}