.transactions-container h6 {
  font-size: 16px;
}

.savings-trans-container h6 {
  margin-top: 20px;
}

@media (min-width: 677px) {
  .transactions-container {
    width: 640px;
  }
  .charge-inner,
  .savings-trans-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .charge-inner > div:first-child,
  .charge-inner > div:nth-child(2),
  .charge-inner > div:nth-child(3),
  .charge-inner > div:nth-child(4) {
    width: 24%;
  }
  .charge-inner > div:nth-child(5),
  .charge-inner > div:last-child {
    width: 100%;
  }
  .charge-inner > div:last-child {
    margin-bottom: 10px;
  }
  .savings-trans-inner > div:first-child,
  .savings-trans-inner > div:nth-child(2) {
    width: 49.35%;
  }
  .savings-trans-inner > div:last-child {
    width: 100%;
  }
}

@media (min-width: 1050px) {
  .transactions-container {
    float: right;
  }
  .savings-trans-inner {
    justify-content: unset;
  }
  .transactions-container {
    width: 960px;
    margin: 20px 0 0 0;
  }
  .transactions-container h6 {
    margin: 4px 0;
  }
  .charge-inner > div:first-child,
  .charge-inner > div:nth-child(2),
  .charge-inner > div:nth-child(3),
  .charge-inner > div:nth-child(4),
  .charge-inner > div:nth-child(5) {
    width: 17%;
  }
  .charge-inner > div:last-child {
    width: 10%;
    margin-top: 15px;
  }  
  .savings-trans-inner > div:first-child,
  .savings-trans-inner > div:nth-child(2) {
    width: 17%;
    margin-right: 9px;
  }
  .savings-trans-inner > div:last-child {
    width: 10%;
    margin-top: 15px;
    margin-left: unset;
  }
  .savings-trans-inner button {
    margin-left: unset;
  }
}