.admin-btn-array {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.admin-btn-array {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.buttons {
  min-height: 33px;
  width: 100%;
  margin: 20px auto;
}

.buttons button {
  animation: bounceInDown 900ms 200ms ease-in-out both;
  border: none;
  height: 33px;
  width: 150px;
  text-decoration: none;
  padding-top: 9px;
  outline-width: 0px;
  z-index: 990;
  color: #7592b3;
  text-align: center;
  line-height: 26px;
  display: inline-block;
}

.buttons button:not(.active) {
  box-shadow: inset 0 2px 3px #008cffcc, inset 0 -1px 0px #3b607133, 0 9px 16px 0 #0000004d, 0 4px 3px 0 #0000004d, 0 0 0 1px #0a0a1e;
  background-image: linear-gradient(#2686ec, #000e8d 88%, #870000 99%);
  text-shadow: 0 0 21px #cedbe4af, 0 -1px 0 #1d3147;
}

.buttons button:not(.active):hover,
.buttons button:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #adc1d2;
  text-shadow: 0 0 21px #ced7e480, 0 0 10px #ced0e4ec, 0 0 2px #151b3c;
}

.buttons button:not(.active):active {
  color: #cee4dd !important
}

.buttons button.active,
.buttons button:active {
  box-shadow: 0 9px 16px 0 #00000063, 0 0 0 1px #040b11, 0 2px 1px 0 #243f63a2, inset 0 0 4px 3px #13314773;
  background-image: linear-gradient(#0a1222 1%,#1d63be 10%, #226ed3, #0b298b 85%, #870000e8 98%);
  text-shadow: 0 0 21px #ced9e480, 0 0 10px #ced7e466, 0 0 2px #151f3c;
  color: #cee4e2;
  vertical-align: bottom;
}

.buttons button.active:before,
.buttons button:active:before {
  content: "";
  height: 36px;
  background-image: linear-gradient(#072c4e00, #234769 41%, #234769 59%, #23476900);
  box-shadow: -2px 0 6px 0 #234769;
}

.buttons button.active:after,
.buttons button:active:after {
  content: "";
  height: 36px;
  background-image: linear-gradient(#23476900, #234769 41%, #234769 59%, #23476900);
  box-shadow: 2px 0 6px 0 #234769;
}

.buttons button.active {
  z-index: 1000
}

.buttons button:active {
  z-index: 999
}

.buttons button:last-of-type {
  border-radius: 0 7px 7px 0;
}

.buttons button:first-of-type {
  border-radius: 7px 0 0 7px;
}

.buttons button i:before {
  font-size: 22px;
}

.buttons button i.icon-bar-chart:before {
  font-size: 20px;
  margin-top: 0px;
}

.buttons button i.icon-sync:before {
  font-size: 20px;
  margin-top: 1px;
}

.buttons button i.icon-download:before {
  font-size: 19px;
  margin-top: 1px;
}