@media (min-width: 677px) {
  .initial-balances-container {
    width: 620px;
  }
  .initial-balances-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .initial-balances-container .group-input {
    width: 270px;
  }
  .initial-balances-container button {
    margin-left: 248px;
    margin-right: 249px
  }
  .initial-balances-instructions {
    width: 100%;
    padding: 15px 115px;
  }
}

@media (min-width: 1050px) {
  .initial-balances-container {
    width: 920px;
  }
  .initial-balances-container .group-input {
    width: 280px;
  }
  .initial-balances-container button {
    margin-left: 408px;
    margin-right: 409px
  }
  .initial-balances-instructions {
    padding: 15px 265px;
  }
}