.cc-payments-container {
  margin: 0;
}

@media (min-width: 677px) {
  .cc-payments-container {
    width: 640px;
  }
  .cc-payments-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cc-payments-inner > div {
    width: 48%;
  }
  .cc-payments-inner > div:last-child {
    width: 100%;
  }
}

@media (min-width: 1050px) {
  .cc-payments-container {
    float: right;
  }
}