.main-container .page-not-found {
  background: linear-gradient(#cfcfcf, #292929);
  height: 100vh;
  width: 100vw;
  font-size: 22px;
}

.page-not-found h1 {
  position: absolute;
  top: 20%;
  margin: 0 auto;
  color: #e0cfcf;
  width: 100%;
  text-align: center;
}

.page-not-found h2 {
  position: absolute;
  top: 55%;
  margin: 0 auto;
  color: #946c6c;
  width: 100%;
  text-align: center;
}

.page-not-found h3 {
  position: absolute;
  top: 90%;
  margin: 0 auto;
  color: #5f0d0d;
  width: 100%;
  text-align: center;
}