.initial-names-wrapper {
  /* width: 300px; */
  margin: auto;
}

@media (min-width: 677px) {
  .initial-names-container {
    width: 620px;
  }
  .initial-names-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .initial-names-container .group-input {
    width: 270px;
  }
  .initial-names-container button {
    margin-left: 248px;
    margin-right: 249px
  }
  .initial-names-instructions {
    width: 100%;
    padding: 15px 50px;
  }
}

@media (min-width: 1050px) {
  .initial-names-container {
    width: 920px;
  }
  .initial-names-container .group-input {
    width: 280px;
  }
  .initial-names-container button {
    margin-left: 408px;
    margin-right: 409px
  }
  .initial-names-instructions {
    padding: 15px 100px;
  }
}