.loading-modal {
  display: flex;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: #006eff63;
}

.loading-modal-content {
  position: relative;
  background: transparent;
  margin: auto;
  padding: 0;
  animation-name: fadein;
  animation-duration: 0.4s;
}

.loading-modal img {
  width: 100px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}