.date-select {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.month-select select, .year-select select {
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 5px;
}