.this-month-container h3 {
  padding: 15px 0 5px 15px;
  font-weight: bold;
  font-size: 16px;
}

.this-month-inner h3:first-child {
  padding-top: 10px;
}

.this-month-expenses,
.this-month-credit,
.this-month-details,
.this-month-net {
  margin-bottom: unset;
}

.this-month-inner > div:first-child > div > h4:last-child,
.this-month-inner > div:nth-child(2) > div > h4:last-child {
  font-weight: bold;
}

.this-month-container h4 {
  padding-left: 15px;
}

.this-month-container h4 span {
  font-weight: unset;
}

.this-month-net p {
  line-height: 1.3;
  padding: 3px 10px;
  color: #0022b8;
  font-style: italic;
}

.red-text {
  font-weight: bold;
  color: #df0000;
}

.green-text {
  font-weight: bold;
  color: #20a000;
}

@media (min-width: 677px) {
  .this-month-container {
    width: 640px;
  }
  .this-month-inner > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .this-month-inner {
    width: 600px;
  }
  .this-month-inner > div > div > h4 {
    width: 48%;
  }
  .this-month-inner > div:first-child > div > h4:last-child,
  .this-month-inner > div:nth-child(2) > div > h4:last-child {
    width: 100%;
    margin: 0 340px 0 30px;
    font-weight: bold;
  }
}

@media (min-width: 1050px) {
  .this-month-container {
    width: 300px;
  }
  .this-month-inner > div > div {
    display: block;
  }
  .this-month-inner {
    width: unset;
  }
  .this-month-inner > div > div > h4 {
    width: unset;
  }
  .this-month-inner > div:first-child > div > h4:last-child,
  .this-month-inner > div:nth-child(2) > div > h4:last-child {
    width: unset;
    margin: unset;
  }
}