button.form-btn {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #0066ffa1;
  border-radius: 5px;
  margin: auto;
  padding: 3px 15px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  border: 1px solid #000;
}

button.form-btn:hover {
  background-color: #0066ff;
}

select, input {
  width: 100%;
  background-color: #ececec;
  outline: none;
  border: none;
  border: 1px solid #0066ff;
  font-size: 14px;
  padding: 0 10px;
  line-height: 25px;
  border-radius: 4px;
}

input {
  margin: 2px 0 10px 0;
}

select {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 2px 0;
}

.input-tooltip {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100px;
}

.checking-names-div:hover .checking-input-tooltip {
  visibility: visible;
}

.shelter-names-div:hover .shelter-input-tooltip {
  visibility: visible;
}

.util1-names-div:hover .util1-input-tooltip {
  visibility: visible;
}

.car-names-div:hover .car-input-tooltip {
  visibility: visible;
}

.insurance-names-div:hover .insurance-input-tooltip {
  visibility: visible;
}

.cc1-names-div:hover .cc1-input-tooltip {
  visibility: visible;
}

.cash-names-div:hover .cash-input-tooltip {
  visibility: visible;
}

.detail1-names-div:hover .detail1-input-tooltip {
  visibility: visible;
}

.other1-names-div:hover .other1-input-tooltip {
  visibility: visible;
}

.savings1-names-div:hover .savings1-input-tooltip {
  visibility: visible;
}