@media (min-width: 677px) {
  .expenses-container {
    width: 640px;
  }
  .expenses-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .expenses-inner > div {
    width: 48%;
  }
  .expenses-inner > div:last-child {
    width: 100%;
  }
  .expenses-container h2 {
    margin-bottom: 12px;
  }
}

@media (min-width: 1050px) {
  .expenses-container {
    float: right;
  }
}