.logged-in {
  width: 300px;
  margin: auto;
}

.logged-in .current-date {
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 0;
}

.logged-in .current-date span {
  color: #0066ff;
}

@media (min-width: 677px) {
  .logged-in {
    width: 640px;
  }
  .logged-in .current-date {
    font-size: 1.5rem;
  }
}

@media (min-width: 1050px) {
  .logged-in {
    width: 960px;
  }
  .left-column {
    float: left;
  }
}