.balances-container h4 {
  padding: 3px 0 3px 5px;
}

.balances-container h4 span {
  float: right;
  padding-right: 5px;
  font-weight: bold;
}

@media (min-width: 677px) {
  .balances-container {
    width: 640px;
  }
  .balances-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .balances-inner {
    width: 600px;
  }
  .balances-inner h4 {
    width: 40%;
  }
}

@media (min-width: 1050px) {
  .balances-container {
    width: 300px;
  }
  .balances-inner {
    display: block;
  }
  .balances-inner {
    width: unset;
  }
  .balances-inner {
    justify-content: unset;
  }
  .balances-inner h4 {
    width: unset;
  }
}